In [1]:
import pandas as pd

In [4]:
listings = pd.read_csv('listings.csv')
neighborhoods = pd.read_csv('neighbourhoods.csv')
reviews = pd.read_csv('reviews.csv')

In [5]:
listings.head(1)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,958,"Bright, Modern Garden Unit - 1BR/1BTH",1169,Holly,NaN,Western Addition,37.76931,-122.43386,Entire home/apt,170,1,241,2020-03-28,1.83,1,118

In [6]:
neighborhoods.head(1)

   neighbourhood_group neighbourhood
0                  NaN       Bayview

In [8]:
reviews.HEAD()

AttributeError: 'DataFrame' object has no attribute 'HEAD'